target/
# 忽略打包生成的 jar 包（防止提交几十 MB 的大文件）
*.jar
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr
# 如果不使用 Maven 构建，IDEA 默认的输出目录
out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

# --- Flink 运行日志 ---
# 本地运行 Flink 往往会产生 log 文件，不需要上传
*.log
*.out

# --- 操作系统生成的垃圾文件 ---
# Windows 系统缩略图缓存
Thumbs.db

### Mac OS ###
.DS_Store